* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue-shade: #c9ddfe;
  /* --primary-font: "Marcellus SC", serif; */
  --primary-font: "Jost", sans-serif;
  --secondary-bg-color: #e1e5f290;
}

body {
  font-family: var(--primary-font);
}
html {
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  --sb-track-color: #c1c1c1;
  --sb-thumb-color: #000000;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* ------------------------------- */
/* 
header{
    background-color: #c9ddfe41;
} */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0.6rem 1rem;
  /* border: 2px solid #ccc;  */
  border-radius: 10px;
  margin: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.nav-left img {
  height: 3rem;
}
.navbar a {
  color: #000;
  text-decoration: none;
  margin: 0 18px;
  font-weight: 500;
  font-size: 18px;
}
.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-right a li {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6px 12px;
  border-radius: 2rem;
  width: 5.6rem;
}

.navbar a:hover {
  /* color: var(--blue-shade); */
  transition: all ease-in-out 0.2s;
}
.hover-underline-animation {
  position: relative;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--blue-shade);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.side-nav ul,
.side-nav {
  display: none;
}

/* ---------------------------------- */

.slider {
  position: relative;
  width: 96%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  display: flex;
  height: 60vh;
  background-image: url("../images/background-img-one.jpeg");
}
.slide-image {
  width: 44%;
}
.slide-image img {
  width: 100%;
  height: 100%;
  height: auto;
}

.slide-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 0 3rem;
}

.slide-content h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #222;
}

.slide-btn {
  border: 1px solid #000;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s;
  width: 14rem;
  text-align: center;
  border-radius: 6px;
  font-weight: 550;
}

.slide-btn:hover {
}

.btn {
  background: none;
  border: 2px solid #000;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 20;
}
.btn:hover {
  color: #fff;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.btn1::before {
  transform: scaleX(0);
}
.btn2::before {
  transform: scaleY(0);
}
.btn1:hover::before {
  transform: scaleX(1);
}
.btn2:hover::before {
  transform: scaleY(1);
}

/* Timeline and Navigation Buttons */

.timeline {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 90%;
  height: 5px;
  background-color: #e0e0e0;
  position: relative;
}

.progress {
  height: 100%;
  background-color: var(--blue-shade);
  width: 0;
  transition: width 4s ease-in-out;
}

.timeline button {
  background-color: #fff;
  color: #434343;
  border: none;
  padding: 16px;
  cursor: pointer;
  border-radius: 50%;
  height: 3.4rem;
  width: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border: #434343 1px solid;
  transition: all ease-in-out 0.3s;
}

.timeline button:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
/* Progress bar */
.progress {
  height: 100%;
  background-color: var(--blue-shade);
  background-color: #000;
  width: 0;
  transition: width 5s linear;
}

/* ---------------------------------- */

.numbers-section {
  text-align: center;
}
.numbers-section h1 {
  font-size: 3rem;
}
.numbers-section .numbers-container {
  background-color: #f1e8d9;
  margin: 2rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.numbers-section .numbers-container h2 {
  font-size: 1rem;
}

/* ---------------------------------- */

.featured-section-main {
  background-color: var(--secondary-bg-color);
}
.featured-section {
  padding: 2rem;
  margin-top: 1rem;
}
.heading-style-one {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.heading-style-one h2 {
  font-size: 4rem;
  color: #333740;
}
.heading-style-one p {
  font-size: 1.4rem;
  padding: 16px 12px;
}

.product-section {
  /* margin: 2rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product-section .product-card {
  width: 90%;
  margin: 0 0.8rem;
  /* height: 20rem; */
  border: 2px solid #ccc;
  background-color: #fff;
  padding: 0.8rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.product-outer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid #ccc; */
  margin: 1rem 0.4rem;
  padding: 1rem 0;
}

.product-section .product-card img {
  width: 100%;
  height: 100%;
}

.product-section .product-card-details {
  margin: 1.2rem 1rem;
  width: 82%;
}
.product-section .product-card-details button {
  width: 100%;
  margin: 0;
  margin-top: 1rem;
}

.view-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------- */

/* ---------------------------------- */

.catagory-section {
  /* background-color: #c9ddfe53; */
}

.catagory-buttons {
  margin: 2.4rem 1rem;
}

/* #active{
  background-color: #000;
  color: #C9DDFE;
} */

.catagory-number-heading {
  margin: 0 2.2rem;
  text-decoration: underline;
}

/* ---------------------------------- */

.testimonial-scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.testimonial-scroll {
  --sb-track-color: #e7e8e8;
  --sb-thumb-color: #000000;
  --sb-size: 4px;
  overflow-x: scroll;
}

.testimonial-scroll::-webkit-scrollbar {
  width: var(--sb-size) !important;
}

.testimonial-scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.testimonial-scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .testimonial-scroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* ---------------------------------- */

.faq-section {
  background-color: var(--secondary-bg-color);
}


/* ---------------------------------- */

.newsletter-box{
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 2rem;
}
.newsletter-box h2{
  font-size: 2.2rem;
}
.newsletter-right img{
    width: 100%;
}

/* ---------------------------------- */

.featured-section-main {
  background-color: ;
}

.featured-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}

.featured-outer-card img {
  width: 94%;
}

.featured-catagories-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}

.featured-catagories-list div {
  background-color: #c9ddfeb0;
  padding: 1.8rem;
  margin: 0.4rem 1rem;
}

.featured-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .featured-product-details {
    width: 50%;
}  */
.featured-product-img img {
  width: 50%;
}

/* ---------------------------------- */

footer{
  border-top: 4rem var(--blue-shade) solid;
}
.container .mb-5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-logo{
  background-color: #fff;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.footer-logo img{
  height: 3.2rem;
  width: 3.8rem;
  border-radius: 50%;
}
.content {
  height: 70vh;
}
.footer-bottom{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95vw;
    justify-content: space-between;
}
.footer-14398 {
 padding-top: 6rem;
  background: #000;
  color: #777;
}
.footer-14398 .footer-site-logo {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 2px;
  display: block;
}
.footer-14398 h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer-14398 .links li {
  margin-bottom: 10px;
}
.footer-14398 .links li a {
  color: #999;
}
.footer-14398 .links li a:hover {
  color: #fff;
}
.footer-14398 .link-menu li {
  display: inline-block;
}
.footer-14398 .link-menu li a {
  color: #fff;
  display: inline-block;
  padding: 10px;
}
.footer-14398 .link-menu.nav-left li:first-child a {
  padding-left: 0;
}
.footer-14398 .link-menu.nav-right li:last-child a {
  padding-left: 0;
}
.footer-14398 .social li {
  display: inline-block;
}
.footer-14398 .social li a {
  display: inline-block;
  padding: 10px;
  color: #ccc;
}
.footer-14398 .social li:last-child a {
  padding-right: 0;
}
.footer-14398 .line {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-59391 {
  border-top: 1px solid #efefef;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 4rem 0;
}
.footer-59391 .site-logo a {
  font-size: 30px;
  color: #3e64ff;
  font-weight: 900;
}
.footer-59391 .nav-links li {
  display: inline-block;
}
.footer-59391 .nav-links li a {
  color: #777;
  padding: 10px;
}
.footer-59391 .nav-links li a:hover {
  color: #3e64ff;
}
.footer-59391 .nav-links.nav-left li:first-child {
  padding-left: 0;
}
.footer-59391 .nav-links.nav-right li:last-child {
  padding-right: 0;
}
.footer-59391 .copyright {
  border-top: 1px solid #efefef;
  padding-top: 50px;
  text-align: center;
  color: #777;
}
.footer-59391 .subscribe .form-group {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
.footer-59391 .subscribe .form-group input[type="email"] {
  height: 45px;
  border: none;
  background: #e6e6e6;
}
.footer-59391 .subscribe .form-group input[type="email"]:focus,
.footer-59391 .subscribe .form-group input[type="email"]:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.footer-59391
  .subscribe
  .form-group
  input[type="email"]::-webkit-input-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group input[type="email"]::-moz-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group input[type="email"]:-ms-input-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group input[type="email"]:-moz-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group button {
  position: absolute;
  border: none;
  background: none;
  font-size: 1.5rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 0.5rem;
  right: 0.3rem;
  line-height: 0;
}
.footer-59391 .subscribe .form-group button:focus,
.footer-59391 .subscribe .form-group button:active {
  outline: none;
}
.footer-59391 .social li {
  display: inline-block;
  position: relative;
}
.footer-59391 .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  color: #333333;
}
.footer-59391 .social li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.footer-59391 .social li a:hover {
  color: #3e64ff;
}

.footer-95942 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif;
}
.footer-95942 .nav-links li {
  display: block;
  margin-bottom: 10px;
}
.footer-95942 .nav-links li a {
  font-size: 14px;
  color: #777;
}
.footer-95942 .nav-links li a:hover {
  color: #4200ff;
}
.footer-95942 .social.app {
  font-size: 13px;
}
.footer-95942 .social li {
  display: inline-block;
}
.footer-95942 .social li a {
  display: inline-block;
  padding: 10px;
  color: #ccc;
}
.footer-95942 .social li a:hover {
  color: #4200ff;
}
.footer-95942 .social.nav-left li:first-child a {
  padding-left: 0px;
}
.footer-95942 .social.nav-right li:last-child a {
  padding-right: 0px;
}
.footer-95942 h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-48201 {
  padding: 7rem 0;
  background-color: #000;
  color: #777;
}
.footer-48201 .footer-site-logo {
  font-size: 1.5rem;
  color: #fff;
}
.footer-48201 .nav-links li {
  margin-bottom: 10px;
}
.footer-48201 .nav-links li a {
  color: gray;
}
.footer-48201 .nav-links li a:hover {
  color: #fff;
}
.footer-48201 .btn.btn-tertiary {
  background-color: #e42c64;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
}
.footer-48201 .social li {
  display: inline-block;
}
.footer-48201 .social li a {
  color: gray;
  padding: 7px;
}
.footer-48201 .social li a:hover {
  color: #fff;
}
.footer-48201 .copyright {
  border-top: 1px solid #404040;
}

.footer-99382 {
  padding: 7rem 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #777;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.footer-99382:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.footer-99382 h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
.footer-99382 .footer-site-logo {
  font-size: 1.5rem;
  color: #fff;
}
.footer-99382 .nav-links li {
  margin-bottom: 10px;
}
.footer-99382 .nav-links li a {
  color: #999999;
}
.footer-99382 .nav-links li a:hover {
  color: #fff;
}
.footer-99382 .btn.btn-tertiary {
  background-color: #e42c64;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
}
.footer-99382 .social li {
  display: inline-block;
}
.footer-99382 .social li a {
  color: gray;
  padding: 7px;
}
.footer-99382 .social li a:hover {
  color: #fff;
}
.footer-99382 .copyright {
  border-top: 1px solid #595959;
}

.footer-16371 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif;
}
.footer-16371 .footer-site-logo {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.footer-16371 .footer-site-logo a {
  color: #4200ff;
}
.footer-16371 .nav-links {
  padding: 0;
  margin: 0;
}
.footer-16371 .nav-links li {
  display: inline-block;
}
.footer-16371 .nav-links li a {
  padding: 10px;
  color: #000;
}
.footer-16371 .nav-links li a:hover {
  color: #4200ff;
}
.footer-16371 .social h3 {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.footer-16371 .social ul li {
  display: inline-block;
}
.footer-16371 .social ul li a {
  display: inline-block;
  padding: 10px;
}
.footer-16371 .social ul li.in a {
  color: #df588a;
}
.footer-16371 .social ul li.tw a {
  color: #15b8ff;
}
.footer-16371 .social ul li.fb a {
  color: #3742d0;
}
.footer-16371 .social ul li.dr a {
  color: #fa38c1;
}
.footer-16371 .social ul li.pin a {
  color: #dd4d5a;
}
.footer-16371 .copyright {
  color: #999999;
}

.footer-39201 {
  padding: 7rem 0;
  color: #9d9d9d;
}
.footer-39201 .subscribe {
  position: relative;
}
.footer-39201 .subscribe .form-control {
  background-color: #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
  height: 50px;
  padding-left: 30px;
  padding-right: 130px;
  border: none;
  color: #000;
}
.footer-39201 .subscribe .form-control::-webkit-input-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control::-moz-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control:-ms-input-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control:-moz-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .btn-submit {
  background: #614ad3;
  height: 40px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.footer-39201 h3 {
  font-size: 16px;
  font-weight: 900;
  color: #000;
  margin-bottom: 20px;
}
.footer-39201 .nav-links li {
  display: block;
  margin-bottom: 10px;
}
.footer-39201 .nav-links li a {
  color: #9d9d9d;
}
.footer-39201 .nav-links li a:hover {
  color: #614ad3;
}
.footer-39201 .social li {
  display: inline-block;
}
.footer-39201 .social li a {
  display: inline-block;
  padding: 10px;
  color: #9d9d9d;
}
.footer-39201 .social li a:hover {
  color: #614ad3;
}
